In [1]:
from bs4 import BeautifulSoup
from io import BytesIO

import csv
import datetime as dt
import numpy as np
import pandas as pd
import requests
import time

#參考: 助教的Github; https://www.finlab.tw/Python-時間序列實作！

# #STEP 1: 整理要爬的ETF（手動）
#  = ['VGK' , 'EZU' , 'HEDJ' , 'IEUR' , 'FEZ' , 'EWG' , 'IEV' , 'EWU' , 'HEZU' , 'EWP' , 'EWL' , 'DBEU' , 'DFE' , 'EUFN' , 'FEP' , 'EWQ' , 
#               'FDD' , 'GREK' ,'EWI' , 'EWD' , 'HEWG' , 'FEU' , 'IEUS' , 'FSZ' , 'GVAL' , 'FGM' , 'EWN' , 'EUSC' , 'NORW' , 'EWO' , 'EDEN' , 'EIRL' , 'FEUZ' , 
#               'DXGE' , 'EWUS' , 'EWK' , 'EURL' , 'ADRD' , 'EUDG' , 'EWGS' , 'WBIA' , 'DBEZ' , 'ENOR' , 'EUMV' , 'EFNL' , 'OEUR' , 'PGAL' , 'GXF' , 
#               'DBGR' , 'JPEU' , 'SMEZ' , 'EPV' , 'HEWU' , 'DAX' , 'ADRU' , 'HEWP' , 'EUDV' , 'HFXE' , 'ZGBR' , 'FKU' , 'ZDEU' , 'UPV' , 'HEWL' , 'SCID' , 
#               'EDOM' , 'DBUK' , 'GRMY' , 'HEWI' , 'EURZ']

#STEP 1: 整理要爬的ETF
file = pd.read_csv('ETF_data.csv')
file['Date'] = pd.to_datetime(file['Inception'])
file = file.loc[file['Date'] < dt.datetime(2015,12,1)]
crawl_list = file['Symbol'].tolist()



#STEP 2: 做一個爬yahoo finance上指定ETF資料的function
today = int(time.time())
today = format(today)
def crawl_price(ETF): 
    #下載自201512/31 0:00(GMT)到程式執行當下的資料
    dl = requests.post('https://query1.finance.yahoo.com/v7/finance/download/' + ETF + '?period1=1448985600&period2=' + today + '&interval=1mo&events=history&crumb=PapEKXpAl4Y')
    df = pd.read_csv(BytesIO(dl.content))
    return df

#印出前五行確定有抓到資料
test = crawl_price('VGK')
test.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2015-12-01,51.730000,51.840000,48.770000,49.880001,44.986820,121472400
1,2016-01-01,49.139999,49.180000,43.799999,47.110001,42.663246,135790300
2,2016-02-01,46.680000,47.220001,43.470001,45.590000,41.286716,125209500
3,2016-03-01,46.330002,49.209999,46.220001,48.520000,43.940159,98976200
4,2016-04-01,47.680000,50.549999,47.040001,49.860001,45.408333,84964300

In [2]:
#STEP 3: 建立只有Adj Close的dataframe
def crawl_close(ETF): 
    #下載自201512/31 0:00(GMT)到程式執行當下的資料
    dl = requests.post('https://query1.finance.yahoo.com/v7/finance/download/' + ETF + '?period1=1448985600&period2=' + today + '&interval=1mo&events=history&crumb=PapEKXpAl4Y')
    df = pd.read_csv(BytesIO(dl.content))
    df.set_index('Date' , inplace = True)
    
    #為了讀取Adj Close的欄位把空格去除掉
    df.columns = [c.replace(' ', '') for c in df.columns]
    df_close = df.AdjClose
    df_close = df_close.to_frame()
    
    #把欄位名稱改成ETF的名稱
    df_close = df_close.rename(columns = {'AdjClose' : ETF})
    #df_close.reset_index(inplace = True)
    
    return df_close

#印出前五行確定有抓到資料
test = crawl_close('VGK')
test.head()

                  VGK
Date
2015-12-01  44.986820
2016-01-01  42.663246
2016-02-01  41.286716
2016-03-01  43.940159
2016-04-01  45.408333

In [3]:
#STEP 4: 全部放在一起
final_df = crawl_close('VGK')
print('正在下載資料: VGK')
for ETFs in crawl_list :
    if ETFs != 'VGK' :
        print('正在下載資料: ' + ETFs)
        next_df = crawl_close(ETFs)
        final_df = pd.merge(final_df , next_df , how = 'left' , on = 'Date')

正在下載資料: VGK
正在下載資料: EZU
正在下載資料: HEDJ
正在下載資料: IEUR
正在下載資料: FEZ
正在下載資料: EWG
正在下載資料: IEV
正在下載資料: EWU
正在下載資料: HEZU
正在下載資料: EWP
正在下載資料: EWL
正在下載資料: DBEU
正在下載資料: DFE
正在下載資料: EUFN
正在下載資料: FEP
正在下載資料: EWQ
正在下載資料: FDD
正在下載資料: GREK
正在下載資料: EWI
正在下載資料: EWD
正在下載資料: HEWG
正在下載資料: FEU
正在下載資料: IEUS
正在下載資料: FSZ
正在下載資料: GVAL
正在下載資料: FGM
正在下載資料: EWN
正在下載資料: EUSC
正在下載資料: NORW
正在下載資料: EWO
正在下載資料: EDEN
正在下載資料: EIRL
正在下載資料: FEUZ
正在下載資料: DXGE
正在下載資料: EWUS
正在下載資料: EWK
正在下載資料: EURL
正在下載資料: ADRD
正在下載資料: EUDG
正在下載資料: EWGS
正在下載資料: WBIA
正在下載資料: DBEZ
正在下載資料: ENOR
正在下載資料: EUMV
正在下載資料: EFNL
正在下載資料: OEUR
正在下載資料: PGAL
正在下載資料: GXF
正在下載資料: DBGR
正在下載資料: SMEZ
正在下載資料: EPV
正在下載資料: HEWU
正在下載資料: DAX
正在下載資料: ADRU
正在下載資料: HEWP
正在下載資料: EUDV
正在下載資料: HFXE
正在下載資料: ZGBR
正在下載資料: FKU
正在下載資料: ZDEU
正在下載資料: UPV
正在下載資料: HEWL
正在下載資料: EDOM
正在下載資料: DBUK
正在下載資料: GRMY
正在下載資料: HEWI
正在下載資料: EURZ

In [4]:
#STEP 5: 加回index並印出結果
# final_df.reset_index(inplace = True)
final_df

,VGK,EZU,HEDJ,IEUR,FEZ,EWG,IEV,EWU,HEZU,EWP,...,ZGBR,FKU,ZDEU,UPV,HEWL,EDOM,DBUK,GRMY,HEWI,EURZ
Date,,,,,,,,,,,,,,,,,,,,,
2015-12-01,44.986820,32.259003,46.556320,38.280113,31.261314,24.428692,36.600449,28.592768,23.662924,24.951370,...,NaN,36.393490,NaN,38.414822,19.705585,21.810928,15.939835,21.597849,13.894081,21.648333
2016-01-01,42.663246,30.632404,48.156239,36.239799,29.478609,22.693775,34.837933,27.481667,22.577198,23.688608,...,NaN,33.243229,NaN,33.838882,19.861099,20.104345,15.474114,21.597849,12.743657,21.648333
2016-02-01,41.286716,29.340677,46.294460,35.135811,28.211199,21.789011,33.754978,26.622868,21.576420,22.502380,...,NaN,32.002193,NaN,31.377872,19.180984,19.091509,15.641282,21.597849,11.871617,21.656111
2016-03-01,43.940159,31.730375,48.091396,37.480633,30.299227,23.999626,35.893349,28.054205,22.356844,24.425507,...,NaN,34.374760,NaN,35.771160,19.404819,21.188885,15.961082,21.597849,12.347274,21.656111
2016-04-01,45.408333,32.542316,48.613300,38.684975,31.151741,24.466000,36.994656,29.181381,22.788372,25.917274,...,NaN,34.894684,NaN,37.943771,19.814611,21.672897,16.222740,21.597849,12.763474,21.656111
2016-05-01,45.180660,31.361313,49.755505,38.511627,30.959896,24.186176,36.682617,28.841442,23.265808,25.108486,...,NaN,35.453651,NaN,37.588078,20.549826,21.565336,16.266348,21.597849,12.578497,21.656111
2016-06-01,42.494045,29.774330,46.923210,36.029945,28.475069,22.432608,34.681915,27.499561,22.099762,22.448458,...,NaN,30.468700,NaN,33.435123,19.852491,18.874601,16.607958,15.987891,11.653606,16.903042
2016-07-01,44.844322,31.990591,50.217289,38.102268,30.536980,24.508524,36.583553,28.254118,22.366024,24.087034,...,NaN,31.854406,NaN,35.924973,20.093542,20.480238,17.439665,17.446676,11.435597,18.195797
2016-08-01,45.150837,32.349918,50.966515,38.270287,30.799498,25.043604,36.762005,28.562019,23.355400,24.307177,...,NaN,32.316196,NaN,36.636360,20.675808,20.706226,17.759590,17.573954,12.044423,18.195797
2016-09-01,45.262299,32.614704,50.966515,38.615650,30.715117,25.100933,36.987431,28.688797,23.421539,24.600697,...,NaN,31.660442,NaN,37.011280,20.693493,20.667797,18.153917,17.123590,11.735414,18.434912
2016-10-01,43.900677,32.283733,51.668884,37.346199,30.663122,24.756954,35.813374,27.167421,23.742765,25.178566,...,NaN,29.846781,NaN,34.867508,20.081532,20.790792,18.161356,17.417307,12.264161,19.051157
2016-11-01,42.873432,30.997675,51.164753,36.552792,29.542795,23.725016,34.921089,27.221756,23.619944,23.087229,...,NaN,29.921515,NaN,32.685284,20.183235,20.373968,17.833992,17.877459,12.277893,19.051157
2016-12-01,44.769165,32.718712,54.598568,37.980927,31.501011,25.301588,36.452061,27.792273,25.131620,24.316349,...,NaN,30.556749,NaN,35.790386,20.819069,21.361523,15.088586,17.877459,10.375780,19.527437
2017-01-01,46.315792,33.636856,54.834244,39.461731,32.129837,26.294836,37.702789,28.874859,25.234396,25.857025,...,NaN,31.341450,NaN,37.799572,21.318945,22.114269,18.728870,20.236971,13.298243,20.557753
2017-02-01,46.587917,33.703476,56.906166,39.706543,32.290390,26.304392,37.948837,29.297192,25.785864,25.687654,...,NaN,31.687092,NaN,38.059132,21.984882,21.837957,19.281891,19.590797,13.468085,20.557753
2017-03-01,48.389500,35.787941,59.971077,41.401394,34.330372,27.480061,39.604961,29.884787,27.269119,28.613977,...,NaN,32.555878,NaN,41.750645,22.650820,23.399448,19.586050,20.814610,14.601901,20.557753
2017-04-01,50.548161,37.348904,61.999271,43.025616,35.798573,28.368982,41.024490,30.389751,27.925177,30.034798,...,NaN,34.545029,NaN,45.124920,23.401676,23.472885,19.475445,21.372669,14.716660,20.557753
2017-05-01,53.029335,39.195408,62.439129,45.120644,37.416752,29.649792,42.955059,31.776114,28.467136,31.399157,...,NaN,35.201424,NaN,48.902954,24.036327,25.978985,20.231237,22.616062,15.074707,22.074070
2017-06-01,52.019882,38.386368,59.599247,44.131977,36.404209,28.932922,41.942459,30.600924,27.868128,30.900463,...,NaN,33.822994,NaN,48.066597,24.161470,25.777029,19.816473,22.100103,15.083889,21.725122
2017-07-01,54.249599,40.242233,60.355698,46.136265,38.231300,29.919529,43.864758,32.017185,27.421249,32.415749,...,NaN,35.722977,NaN,50.998657,23.741350,27.581879,19.958641,22.390881,15.230779,21.725122
2017-08-01,54.287872,40.435566,60.083168,46.107548,38.279427,29.968245,43.826206,31.754446,27.819811,32.016842,...,NaN,35.457096,NaN,50.873684,23.958273,27.451157,20.320683,22.723757,15.847912,21.725122
2017-09-01,55.809162,41.875896,62.973930,47.562767,39.703957,31.595259,45.175594,32.702198,29.065042,32.045338,...,NaN,36.169277,NaN,54.257572,24.519901,28.641640,20.116455,23.516790,16.525896,21.725122
2017-10-01,56.290031,42.368896,64.658646,47.668079,40.226559,32.218784,45.406921,32.899258,29.837280,32.140312,...,NaN,37.361160,NaN,55.093933,24.967379,28.669794,20.459929,23.761551,16.582396,23.493189
2017-11-01,56.261215,42.262562,62.896381,47.160664,39.975441,32.384411,45.339447,32.861721,29.190531,31.950359,...,NaN,36.297531,NaN,54.344090,25.177416,28.833248,20.162868,23.634274,16.244345,23.612741
2017-12-01,56.818352,41.933899,62.029850,48.031883,39.318680,32.170071,45.551495,33.612415,28.775454,31.124060,...,NaN,38.204395,NaN,56.343662,24.684278,29.076094,20.218569,23.888828,15.847912,23.551506
2018-01-01,60.338043,45.069000,64.386024,51.291782,42.181545,34.194489,48.372326,35.527454,30.012581,34.418747,...,NaN,40.226250,NaN,62.390442,25.696909,31.432302,20.790924,25.376984,17.194643,25.241068
2018-02-01,56.629692,42.369907,61.652008,48.234207,39.284836,31.674587,45.384220,33.146847,28.752363,31.751074,...,NaN,38.673927,NaN,54.459454,23.941103,29.970074,20.108782,23.653856,16.597477,24.160561
2018-03-01,56.156490,42.088348,61.241905,48.069721,39.013573,31.293671,45.238701,33.223331,28.442156,31.422447,...,NaN,37.974426,NaN,54.007626,24.524803,29.291317,19.196054,23.433569,16.465721,23.430487
2018-04-01,57.643791,43.039829,63.541138,49.056656,40.378094,31.703886,46.179756,34.657433,29.615129,32.147358,...,NaN,39.882221,NaN,56.651291,24.910797,29.595171,20.983076,23.291607,17.711241,24.214098
2018-05-01,56.246368,41.496101,63.805122,47.914906,38.446545,30.902988,44.957352,34.447098,29.547270,29.489355,...,52.289078,40.629768,61.307163,53.411602,24.251781,28.132006,21.453850,22.823622,16.512165,23.036249
2018-06-01,54.470470,39.816452,61.732384,46.037788,37.204140,29.281654,43.375984,33.252010,29.140123,29.334709,...,50.739994,39.290009,58.001438,51.017883,24.798765,25.981670,20.723669,21.793661,16.303633,22.281837
2018-07-01,57.440029,42.339890,65.589996,48.842056,39.703148,31.309999,46.014824,34.360752,29.508493,30.982019,...,51.900173,39.142406,62.301758,54.959343,25.641365,28.189703,21.583115,23.023851,16.417376,23.547178
2018-08-01,55.816978,40.997189,63.820000,47.671356,37.995911,30.230000,44.585239,32.853615,29.579243,29.166473,...,50.012169,37.853725,61.062511,51.373577,26.113152,27.177639,21.436224,23.023851,15.446700,22.999571
2018-09-01,55.638840,40.788322,63.220001,47.582066,37.985989,29.740000,44.744083,33.391876,29.499676,29.058525,...,51.513214,37.893074,61.602745,51.075565,26.172939,26.767878,21.406847,23.023851,15.884973,23.248484
2018-10-01,51.443596,37.167999,59.700001,43.831852,34.921246,27.250000,41.289249,31.131174,27.699459,27.174284,...,47.453564,34.822166,55.266724,43.163803,25.083244,23.879940,19.996696,20.434542,14.833117,20.371046
2018-11-01,51.095871,37.038704,59.860001,43.563980,34.861622,26.840000,41.219753,30.759283,27.709406,27.969196,...,47.058807,33.513359,54.512791,42.856178,25.680164,23.607197,20.359028,19.654751,14.998687,20.689657
2018-12-01,48.304127,34.870487,56.439999,41.004314,33.062889,25.350000,38.837109,28.723671,25.799784,26.320486,...,43.318863,31.738541,51.826595,36.482548,23.153616,21.908028,19.017427,18.508057,13.995528,19.450069
2019-01-01,51.869999,37.349998,60.290001,44.070000,35.161732,26.790001,41.619999,31.490000,27.730000,28.660000,...,48.143002,35.669998,54.585999,42.939999,25.743999,23.672001,20.200001,19.688999,15.594000,20.819000
2019-02-01,53.509998,38.520000,62.689999,45.509998,36.338776,27.299999,42.930000,32.570000,28.840000,29.080000,...,49.738998,36.990002,55.556999,45.439999,26.868999,24.330999,20.690001,20.032000,16.320000,21.482000
2019-03-01,54.660000,39.270000,64.639999,46.450001,37.086899,27.580000,43.889999,33.419998,29.610001,29.299999,...,50.959999,37.500000,56.043999,47.369999,27.504999,24.346001,21.160000,20.233000,16.655001,21.863001
2019-03-15,54.660000,39.270000,64.639999,46.450001,37.180000,27.580000,43.889999,33.419998,29.610001,29.299999,...,50.960098,37.499901,NaN,47.365002,NaN,NaN,NaN,NaN,16.655100,NaN