In [1]:
from bs4 import BeautifulSoup
from io import BytesIO

import csv
import datetime
import numpy as np
import pandas as pd
import requests
import time

#參考: 助教的Github; https://www.finlab.tw/Python-時間序列實作！

#STEP 1: 整理要爬的ETF（手動）
crawl_list = ['VGK' , 'EZU' , 'HEDJ' , 'IEUR' , 'FEZ' , 'EWG' , 'IEV' , 'EWU' , 'HEZU' , 'EWP' , 'EWL' , 'DBEU' , 'DFE' , 'EUFN' , 'FEP' , 'EWQ' , 
              'FDD' , 'GREK' ,'EWI' , 'EWD' , 'HEWG' , 'FEU' , 'IEUS' , 'FSZ' , 'GVAL' , 'FGM' , 'EWN' , 'EUSC' , 'NORW' , 'EWO' , 'EDEN' , 'EIRL' , 'FEUZ' , 
              'DXGE' , 'EWUS' , 'EWK' , 'EURL' , 'ADRD' , 'EUDG' , 'EWGS' , 'WBIA' , 'DBEZ' , 'ENOR' , 'EUMV' , 'EFNL' , 'OEUR' , 'PGAL' , 'GXF' , 
              'DBGR' , 'JPEU' , 'SMEZ' , 'EPV' , 'HEWU' , 'DAX' , 'ADRU' , 'HEWP' , 'EUDV' , 'HFXE' , 'ZGBR' , 'FKU' , 'ZDEU' , 'UPV' , 'HEWL' , 'SCID' , 
              'EDOM' , 'DBUK' , 'GRMY' , 'HEWI' , 'EURZ']

#STEP 2: 做一個爬yahoo finance上指定ETF資料的function
today = int(time.time())
today = format(today)
def crawl_price(ETF): 
    #下載自201512/31 0:00(GMT)到程式執行當下的資料
    dl = requests.post('https://query1.finance.yahoo.com/v7/finance/download/' + ETF + '?period1=1451520000&period2=' + today + '&interval=1d&events=history&crumb=PapEKXpAl4Y')
    df = pd.read_csv(BytesIO(dl.content))
    return df

#印出前五行確定有抓到資料
test = crawl_price('VGK')
test.head()

         Date       Open       High        Low      Close  Adj Close   Volume
0  2015-12-31  50.290001  50.310001  49.880001  49.880001  45.171795  5702600
1  2016-01-04  49.139999  49.180000  48.450001  49.150002  44.510696  6554800
2  2016-01-05  48.840000  48.900002  48.459999  48.860001  44.248062  4352500
3  2016-01-06  47.889999  48.230000  47.799999  48.049999  43.514526  4513200
4  2016-01-07  47.160000  47.660000  47.090000  47.160000  42.708530  9804900

In [2]:
#STEP 3: 建立只有Adj Close的dataframe
def crawl_close(ETF): 
    #下載自201512/31 0:00(GMT)到程式執行當下的資料
    dl = requests.post('https://query1.finance.yahoo.com/v7/finance/download/' + ETF + '?period1=1451520000&period2=' + today + '&interval=1d&events=history&crumb=PapEKXpAl4Y')
    df = pd.read_csv(BytesIO(dl.content))

    df.set_index('Date' , inplace = True)
    #為了讀取Adj Close的欄位把空格去除掉
    df.columns = [c.replace(' ', '') for c in df.columns]
    df_close = df.AdjClose
    df_close = df_close.to_frame()
    
    #把欄位名稱改成ETF的名稱
    df_close = df_close.rename(columns = {'AdjClose' : ETF})
    #df_close.reset_index(inplace = True)
    
    return df_close

#印出前五行確定有抓到資料
test = crawl_close('VGK')
test.head()

                  VGK
Date
2015-12-31  45.171795
2016-01-04  44.510696
2016-01-05  44.248062
2016-01-06  43.514526
2016-01-07  42.708530

In [3]:
#STEP 4: 全部放在一起
final_df = crawl_close('VGK')
print('正在下載資料: VGK')
for ETFs in crawl_list :
    if ETFs != 'VGK' :
        print('正在下載資料: ' + ETFs)
        next_df = crawl_close(ETFs)
        final_df = pd.merge(final_df , next_df , how = 'left' , on = 'Date')

正在下載資料: VGK
正在下載資料: EZU
正在下載資料: HEDJ
正在下載資料: IEUR
正在下載資料: FEZ
正在下載資料: EWG
正在下載資料: IEV
正在下載資料: EWU
正在下載資料: HEZU
正在下載資料: EWP
正在下載資料: EWL
正在下載資料: DBEU
正在下載資料: DFE
正在下載資料: EUFN
正在下載資料: FEP
正在下載資料: EWQ
正在下載資料: FDD
正在下載資料: GREK
正在下載資料: EWI
正在下載資料: EWD
正在下載資料: HEWG
正在下載資料: FEU
正在下載資料: IEUS
正在下載資料: FSZ
正在下載資料: GVAL
正在下載資料: FGM
正在下載資料: EWN
正在下載資料: EUSC
正在下載資料: NORW
正在下載資料: EWO
正在下載資料: EDEN
正在下載資料: EIRL
正在下載資料: FEUZ
正在下載資料: DXGE
正在下載資料: EWUS
正在下載資料: EWK
正在下載資料: EURL
正在下載資料: ADRD
正在下載資料: EUDG
正在下載資料: EWGS
正在下載資料: WBIA
正在下載資料: DBEZ
正在下載資料: ENOR
正在下載資料: EUMV
正在下載資料: EFNL
正在下載資料: OEUR
正在下載資料: PGAL
正在下載資料: GXF
正在下載資料: DBGR
正在下載資料: JPEU
正在下載資料: SMEZ
正在下載資料: EPV
正在下載資料: HEWU
正在下載資料: DAX
正在下載資料: ADRU
正在下載資料: HEWP
正在下載資料: EUDV
正在下載資料: HFXE
正在下載資料: ZGBR
正在下載資料: FKU
正在下載資料: ZDEU
正在下載資料: UPV
正在下載資料: HEWL
正在下載資料: SCID
正在下載資料: EDOM
正在下載資料: DBUK
正在下載資料: GRMY
正在下載資料: HEWI
正在下載資料: EURZ

In [4]:
#STEP 5: 加回index並印出結果
final_df.reset_index(inplace = True)
final_df

,Date,VGK,EZU,HEDJ,IEUR,FEZ,EWG,IEV,EWU,HEZU,...,FKU,ZDEU,UPV,HEWL,SCID,EDOM,DBUK,GRMY,HEWI,EURZ
0,2015-12-31,45.171795,32.330105,49.842030,38.539001,31.393398,24.428692,36.811104,28.877220,23.706516,...,36.628689,NaN,38.414822,20.360424,20.610361,21.825270,16.026497,21.597849,14.375425,21.648333
1,2016-01-04,44.510696,31.804184,49.119549,37.909454,30.727783,23.841057,36.260452,28.412039,23.421892,...,36.008175,NaN,36.924759,20.567041,20.610361,21.493631,16.026497,21.597849,14.243299,21.648333
2,2016-01-05,44.248062,31.527388,48.999142,37.663109,30.454241,23.617199,36.031013,28.340473,23.375982,...,36.099434,NaN,36.521000,20.567041,20.610361,21.359188,15.634013,21.597849,14.329180,21.648333
3,2016-01-06,43.514526,31.010700,48.026566,37.006199,29.934515,23.346701,35.425297,27.821609,22.944456,...,35.287281,NaN,35.280880,20.567041,20.610361,20.893103,15.634013,21.597849,13.846916,21.648333
4,2016-01-07,42.708530,30.577044,46.646439,36.386684,29.515083,22.880329,34.782867,27.052267,22.283392,...,34.484268,NaN,33.886951,20.567041,20.610361,20.722805,15.110700,21.597849,13.595876,21.648333
5,2016-01-08,42.337231,30.300249,46.294460,36.002571,29.214186,22.656469,34.434124,26.873350,22.118124,...,34.183128,NaN,33.492805,19.688917,20.610361,20.722805,15.067091,21.597849,13.549630,21.648333
6,2016-01-11,42.464016,30.466324,46.850220,36.057316,29.378311,22.833691,34.553432,26.944918,22.393568,...,34.320007,NaN,32.992912,19.688917,20.610361,20.722805,15.067091,21.597849,13.543026,21.648333
7,2016-01-12,42.817200,30.881529,47.378185,36.404026,29.743032,23.197464,34.828758,26.962809,22.696554,...,34.164875,NaN,34.482975,19.688917,20.610361,20.660059,15.067091,21.597849,13.595876,21.648333
8,2016-01-13,42.002155,30.272570,46.238884,35.701488,29.123003,22.619160,34.232220,26.515514,22.191576,...,33.562614,NaN,33.165951,20.162420,20.610361,20.660059,15.067091,21.597849,13.443929,21.648333
9,2016-01-14,42.545521,30.558594,46.831688,36.075565,29.478609,22.880329,34.672741,27.016485,22.421114,...,33.562614,NaN,33.502415,19.852491,20.610361,20.292572,14.936258,21.597849,13.609089,21.648333
10,2016-01-15,40.987873,29.497530,45.145901,34.761734,28.502977,22.040854,33.397060,25.942982,21.567236,...,32.066082,NaN,31.127928,19.852491,18.660049,19.844414,14.936258,21.597849,12.974877,21.648333
11,2016-01-19,41.259560,29.746653,45.812805,35.062820,28.740049,22.311350,33.699917,26.050333,21.760048,...,32.011330,NaN,31.387487,19.852491,18.660049,19.763746,14.936258,21.597849,12.750260,21.648333
12,2016-01-20,40.408279,29.146919,45.071793,34.278179,28.129139,21.910267,33.002426,25.495689,21.356066,...,31.509436,NaN,29.339849,19.852491,18.446449,19.467958,14.558312,21.597849,12.334064,21.648333
13,2016-01-21,40.824867,29.506758,45.609032,34.643124,28.420912,22.134129,33.360352,25.853523,21.631510,...,31.929203,NaN,30.080076,19.060457,18.587687,19.467958,14.754555,21.597849,12.637954,21.648333
14,2016-01-22,41.902542,30.235661,47.248497,35.592003,29.141237,22.553865,34.241398,26.622868,22.366024,...,32.686592,NaN,32.214230,19.688917,18.980015,19.467958,14.754555,21.597849,13.034335,21.648333
15,2016-01-25,41.359173,29.829691,46.544552,35.172306,28.740049,22.357986,33.782516,26.139790,21.952860,...,32.348961,NaN,32.146938,19.714743,18.980015,19.467958,14.754555,21.597849,12.704019,21.648333
16,2016-01-26,42.255730,30.484779,47.609749,35.874844,29.369192,22.787052,34.507538,26.766003,22.411930,...,32.942101,NaN,33.021748,19.714743,18.980015,20.104345,14.754555,21.597849,12.882389,21.648333
17,2016-01-27,41.875370,30.207981,47.081776,35.537262,29.132122,22.628485,34.213860,26.551300,22.127308,...,32.449341,NaN,33.358219,19.981625,18.980015,20.104345,14.754555,21.597849,12.578497,21.648333
18,2016-01-28,41.993095,30.235661,46.924316,35.737984,29.113890,22.535212,34.287289,26.891243,22.053856,...,32.668343,NaN,32.589153,19.650175,19.119511,20.104345,14.754555,21.597849,12.406732,21.648333
19,2016-01-29,42.663246,30.632404,48.156239,36.239799,29.478609,22.693775,34.837933,27.481667,22.577198,...,33.243229,NaN,33.838882,19.861099,19.372345,20.104345,15.474114,21.597849,12.743657,21.648333
20,2016-02-01,42.627026,30.558594,47.785740,36.230671,29.350954,22.675121,34.782867,27.517454,22.411930,...,33.736000,NaN,33.646618,19.861099,19.433372,20.104345,15.554063,21.597849,12.604923,21.648333
21,2016-02-02,41.458790,29.682060,46.396355,35.245300,28.475626,22.106148,33.828407,26.694437,21.732506,...,32.987720,NaN,31.714340,19.585606,19.093355,20.104345,15.554063,21.597849,12.096232,21.656111
22,2016-02-03,42.119881,30.124943,46.451931,35.774479,28.867701,22.525885,34.342346,27.070162,21.668234,...,33.279736,NaN,31.714340,19.637260,19.223261,19.880266,14.841773,21.597849,11.937680,21.656111
23,2016-02-04,42.101776,30.226433,45.998058,35.783607,28.995350,22.441936,34.388237,27.141727,21.521332,...,33.133732,NaN,33.050591,19.307537,19.354908,19.880266,15.168845,21.597849,11.983925,21.656111
24,2016-02-05,41.495014,29.746653,45.710911,35.290916,28.512100,22.012869,33.865116,26.712324,21.282614,...,32.449341,NaN,32.012352,19.307537,19.354908,19.880266,15.103432,21.597849,11.686639,21.656111
25,2016-02-08,40.372066,28.907028,44.404888,34.323795,27.864714,21.462549,33.066666,26.014549,20.575642,...,31.171806,NaN,29.724382,19.307537,19.354908,18.966026,15.103432,21.597849,11.244014,21.656111
26,2016-02-09,40.018867,28.676359,43.626831,34.004459,27.591173,21.425240,32.772987,25.764063,20.190022,...,30.925421,NaN,29.801289,19.307537,19.354908,18.732981,15.103432,21.597849,10.867452,21.656111
27,2016-02-10,40.245270,28.833214,43.636093,34.232552,27.700592,21.490532,32.910648,25.746172,20.291016,...,31.345184,NaN,29.801289,19.307537,18.508348,18.732981,14.471093,21.597849,11.224194,21.656111
28,2016-02-11,39.710960,28.371881,42.950653,33.785484,27.281164,21.331966,32.442593,25.406231,19.932940,...,30.797672,NaN,29.262943,19.307537,18.508348,18.732981,14.238509,21.597849,10.834419,21.656111
29,2016-02-12,40.417339,28.713270,43.663879,34.378536,27.645884,21.565151,33.075848,26.193468,20.318562,...,31.491180,NaN,30.310795,19.307537,18.369726,18.732981,14.238509,21.597849,11.230802,21.656111
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
776,2019-02-01,51.930000,37.380001,60.470001,44.130001,35.241531,26.809999,41.669998,31.600000,27.750000,...,35.669998,54.553001,43.130001,25.646000,23.587999,23.613001,20.299999,19.697001,15.430000,20.818001
777,2019-02-04,52.070000,37.480000,60.700001,44.220001,35.221581,26.820000,41.790001,31.690001,27.870001,...,35.779999,54.540001,43.009998,25.819000,23.631001,23.618999,20.410000,19.694000,15.597000,20.837000
778,2019-02-05,52.529999,37.840000,61.520000,44.630001,35.550755,27.150000,42.169998,31.969999,28.219999,...,36.020000,55.227001,44.139999,26.089001,23.820000,23.781000,20.760000,19.934999,15.694000,21.051001
779,2019-02-06,52.340000,37.730000,61.320000,44.450001,35.401131,26.920000,41.980000,31.850000,28.230000,...,36.000000,54.792999,43.700001,26.070000,23.799999,23.797001,20.719999,19.788000,15.799000,20.985001
780,2019-02-07,51.560001,36.970001,60.200001,43.810001,34.772709,26.170000,41.430000,31.709999,27.719999,...,36.000000,53.359001,42.250000,25.820999,23.434000,23.246000,20.600000,19.249001,15.459000,20.586000
781,2019-02-08,51.369999,36.740002,60.070000,43.680000,34.633057,25.910000,41.279999,31.690001,27.600000,...,35.500000,52.744999,42.270000,25.815001,23.275999,22.959999,20.580000,19.021000,15.429000,20.445999
782,2019-02-11,51.279999,36.740002,60.279999,43.590000,34.613110,25.930000,41.180000,31.500000,27.719999,...,35.310001,52.813000,41.619999,25.840000,23.243000,22.987000,20.580000,19.041000,15.499000,20.444000
783,2019-02-12,51.849998,37.240002,60.790001,44.119999,35.052006,26.360001,41.630001,31.730000,27.980000,...,35.410000,53.612000,42.610001,26.056999,23.466000,23.330000,20.690001,19.344999,15.680000,20.725000
784,2019-02-13,51.830002,37.189999,61.220001,44.080002,35.052006,26.270000,41.630001,31.799999,28.090000,...,35.730000,53.467999,42.669998,26.191000,23.465000,23.305000,20.809999,19.313999,15.802000,20.705000
785,2019-02-14,51.830002,37.080002,61.000000,44.119999,34.942280,26.150000,41.639999,31.799999,27.980000,...,35.480000,53.203999,42.709999,26.183001,23.464001,23.285000,20.900000,19.231001,15.701000,20.688000
786,2019-02-15,52.630001,37.790001,62.029999,44.750000,35.560730,26.700001,42.299999,32.220001,28.450001,...,35.730000,54.264999,43.799999,26.500000,23.726000,23.671000,21.020000,19.617001,15.994000,21.035000
787,2019-02-19,52.919998,37.930000,62.049999,44.970001,35.710354,26.820000,42.470001,32.389999,28.490000,...,36.380001,54.515999,44.270000,26.547001,23.910000,23.875000,20.860001,19.702999,16.023001,21.153000
788,2019-02-20,53.180000,38.119999,62.419998,45.200001,35.859978,27.030001,42.709999,32.570000,28.620001,...,36.549999,55.027000,44.860001,26.697001,23.999001,24.009001,21.020000,19.875000,16.073000,21.264999
789,2019-02-21,52.939999,38.009998,62.349998,45.060001,35.830051,26.950001,42.509998,32.360001,28.570000,...,36.590000,54.874001,44.410000,26.733000,23.886000,23.874001,20.889999,19.806000,15.978000,21.194000
790,2019-02-22,53.130001,38.119999,62.389999,45.169998,35.969704,27.030001,42.639999,32.459999,28.660000,...,36.709999,55.026001,44.619999,26.802999,23.969000,23.972000,20.910000,19.860001,16.046000,21.253000
791,2019-02-25,53.240002,38.209999,62.400002,45.279999,36.049500,27.110001,42.730000,32.480000,28.660000,...,36.840000,55.174000,44.840000,26.875000,24.006001,24.080000,20.870001,19.934999,16.122999,21.323000
792,2019-02-26,53.639999,38.450001,62.610001,45.610001,36.328800,27.320000,43.040001,32.759998,28.770000,...,36.919998,55.659000,45.599998,27.069000,24.200001,24.247999,20.820000,20.096001,16.177999,21.468000
793,2019-02-27,53.419998,38.299999,62.259998,45.450001,36.159225,27.170000,42.889999,32.720001,28.700001,...,37.090000,55.335999,45.590000,26.950001,24.089001,24.200001,20.740000,19.966000,16.174000,21.367001
794,2019-02-28,53.509998,38.520000,62.689999,45.509998,36.338776,27.299999,42.930000,32.570000,28.840000,...,36.990002,55.556999,45.439999,26.868999,24.121000,24.330999,20.690001,20.032000,16.320000,21.482000
795,2019-03-01,53.889999,38.860001,63.400002,45.860001,36.598122,27.600000,43.200001,32.630001,29.150000,...,37.209999,56.193001,46.369999,27.063999,24.296000,24.625000,20.799999,20.284000,16.434000,21.680000
796,2019-03-04,53.669998,38.669998,63.270000,45.720001,36.438522,27.370001,43.020000,32.549999,29.040001,...,36.919998,55.764000,45.770000,26.996000,24.218000,24.554001,20.799999,20.136999,16.358000,21.573999
797,2019-03-05,53.740002,38.639999,63.570000,45.759998,36.468452,27.440001,43.110001,32.730000,29.150000,...,37.150002,55.891998,46.180000,27.145000,24.200001,24.489000,20.940001,20.183001,16.406000,21.573000
798,2019-03-06,53.630001,38.560001,63.470001,45.639999,36.388649,27.309999,43.029999,32.770000,29.059999,...,37.150002,55.631001,46.000000,27.063000,24.110001,24.452999,20.940001,20.084000,16.540001,21.513000
799,2019-03-07,52.779999,37.880001,62.860001,44.950001,35.780178,26.790001,42.400002,32.419998,28.879999,...,36.889999,54.605999,44.700001,26.968000,23.795000,23.801001,20.900000,19.694000,16.430000,21.129000
800,2019-03-08,52.810001,37.980000,62.709999,44.950001,35.919827,26.889999,42.430000,32.290001,28.840000,...,36.340000,54.728001,44.439999,26.896000,23.745001,23.787001,20.889999,19.735001,16.334000,21.155001
801,2019-03-11,53.250000,38.279999,63.080002,45.299999,36.169201,27.129999,42.790001,32.570000,29.020000,...,36.340000,55.195999,45.169998,27.107000,23.907000,23.983999,20.870001,19.907000,16.426001,21.308001
802,2019-03-12,53.230000,38.310001,62.880001,45.340000,36.159225,27.090000,42.750000,32.509998,28.940001,...,36.369999,55.131001,44.759998,26.972000,23.959999,24.031000,20.950001,19.907000,16.336000,21.327000
803,2019-03-13,53.860001,38.650002,63.340000,45.740002,36.568199,27.320000,43.220001,32.959999,29.100000,...,36.950001,55.564999,45.950001,27.146999,24.208000,24.264000,20.950001,19.907000,16.440001,21.525999
804,2019-03-14,54.070000,38.799999,63.740002,45.959999,36.647999,27.320000,43.410000,33.070000,29.290001,...,37.090000,55.522999,46.590000,27.433001,24.355000,24.346001,21.049999,20.047001,16.551001,21.601000
805,2019-03-15,54.660000,39.270000,64.639999,46.450001,37.180000,27.580000,43.889999,33.419998,29.610001,...,37.500000,56.043999,47.369999,27.504999,24.556999,24.346001,21.160000,20.233000,16.655001,21.863001