In [11]:
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
import requests
import csv
from io import BytesIO
import pandas as pd

#先呼叫chromdedriver
main_driver = webdriver.Chrome('/mnt/c/Users/bryan/OneDrive/Desktop/chromedriver/chromedriver.exe')  # 注意你們放CHROMEDRIVER的位置
#告訴chromedriver 等下要找的element 如果沒有找到，要等10秒讓他們生完
main_driver.implicitly_wait(20)
#打開目標網頁
main_driver.get('https://fred.stlouisfed.org/series/TEDRATE')

download_btn_ele = main_driver.find_element_by_xpath('//*[@id="download-button"]')
download_btn_ele.click()

excel_download_btn_ele = main_driver.find_element_by_xpath('//*[@id="fg-download-menu"]/li[1]/a')

# head={'user-agent':'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/68.0.3440.106 Safari/537.36'}
#輸入第9行的網址就會直接下載到最新的cfnai的excel檔案
url = excel_download_btn_ele.get_attribute('href')
#因為這邊下載的直接就是excel檔案，用pandas套件來寫會更簡單
df = pd.read_excel(url)
df.head(20)

,FRED Graph Observations,Unnamed: 1
0,Federal Reserve Economic Data,NaN
1,Link: https://fred.stlouisfed.org,NaN
2,Help: https://fred.stlouisfed.org/help-faq,NaN
3,Economic Research Division,NaN
4,Federal Reserve Bank of St. Louis,NaN
5,NaN,NaN
6,TEDRATE,"TED Spread, Percent, Daily, Not Seasonally Adj..."
7,NaN,NaN
8,Frequency: Daily,NaN
9,observation_date,TEDRATE
10,2014-03-10 00:00:00,0.18
11,2014-03-11 00:00:00,0.18
12,2014-03-12 00:00:00,0.18
13,2014-03-13 00:00:00,0.18
14,2014-03-14 00:00:00,0.18
15,2014-03-17 00:00:00,0.17
16,2014-03-18 00:00:00,0.18
17,2014-03-19 00:00:00,0.17
18,2014-03-20 00:00:00,0.17
19,2014-03-21 00:00:00,0.17

In [12]:
df.rename(columns = {'FRED Graph Observations':'Date', 'Unnamed: 1':'Value'}, inplace = True)
df = df[10:]
df.reset_index(drop = True, inplace = True)
df.head(20)

                   Date Value
0   2014-03-10 00:00:00  0.18
1   2014-03-11 00:00:00  0.18
2   2014-03-12 00:00:00  0.18
3   2014-03-13 00:00:00  0.18
4   2014-03-14 00:00:00  0.18
5   2014-03-17 00:00:00  0.17
6   2014-03-18 00:00:00  0.18
7   2014-03-19 00:00:00  0.17
8   2014-03-20 00:00:00  0.17
9   2014-03-21 00:00:00  0.17
10  2014-03-24 00:00:00  0.18
11  2014-03-25 00:00:00  0.18
12  2014-03-26 00:00:00  0.18
13  2014-03-27 00:00:00  0.19
14  2014-03-28 00:00:00  0.19
15  2014-03-31 00:00:00  0.18
16  2014-04-01 00:00:00  0.19
17  2014-04-02 00:00:00  0.21
18  2014-04-03 00:00:00  0.21
19  2014-04-04 00:00:00   0.2